################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TextEditorApp/v15
/packages
*/obj
*/bin
*.DotSettings
/.idea
